<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">BrunchApp</a>
        <div class="nav-collapse collapse">
            <ul class="nav" role="navigation">
                <li><a role="button" href="/#" data-toggle="pill">Home</a></li>
                <li><a role="button" href="about" data-toggle="pill" >About</a></li>
                <li class="dropdown">
                    <a href="#" id="drop1" class="dropdown-toggle" data-toggle="dropdown">Views <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">GeoView</a>
                        </li> 
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
