<div class="hero-unit">

    <h1>An Empty Brunch Project!</h1> 

    <p>With Bootstrap, jQuery, jQuery-ui, jsTree, underscore, handlebars, backbone, chaplin and <a href="http://cesium.agi.com/" title="Cesium" target="_blank">Cesium</a>!</p>

</div>
